
.explore-heading {
  color: #fff;
  text-align: center;
}
.explore {
  background-image: linear-gradient(-45deg, rgb(0, 0, 0),rgb(0, 0, 0),#b33e0c, #ff4e00);
    display: flex;
    flex-wrap: wrap;

    .explore-cards {
      min-width: 250px;
      max-width: 300px;
      margin: 2rem;
      box-shadow: 0 19px 38px;
      border-radius: 25px;
      .card-img{
        width: 250px;
        height: 250px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding-left: 1.5625rem;
      }
    }
    .btn-custom-explore {
      margin-left: 4.075rem;
      margin-bottom: 10px;
      border-radius: 25px;
      width: 50%;
      background: black;
      color: $dark-orange;
    }
    .btn-custom-explore:hover {
      background: $dark-orange;
      color: black;
    }
  }
////

@media(max-width: 1275px){
  .explore{
  .card {
    min-width: 250px;
    max-width: 300px;
    margin: 2rem 2rem;
    
    box-shadow: 0 19px 38px;
  }
}
}

@media(max-width: 1270px){
  .explore{
  .card {
    min-width: 250px;
    max-width: 300px;
    margin: 2rem ;
    
    box-shadow: 0 19px 38px;
  }
}
}
